<p>registration works!</p>
<form #register="ngForm" (ngSubmit)="postData(register.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" ngModel>
  </div>
  <!--<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">age</label>
    <input type="number" class="form-control" id="exampleInputPassword1" name="age" ngModel>
  </div>-->
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" name="Email" ngModel>
  </div>


  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
